/* Variables
----------------------------------------------- */
/* Layout
----------------------------------------------- */
body {
  padding: 0;
}
.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 40px;
}
/* Header
----------------------------------------------- */
/* Content
----------------------------------------------- */
/* Article
----------------------------------------------- */
/* Footer
----------------------------------------------- */
