      <div id="colophon">
        <div class="container">
            <ul class="pull-left">
                <li>&copy; Shawn Coots</li>
            </ul>
            <ul class="pull-right">
                <li><a href="https://github.com/shawncoots"><i class="fa fa-github fa-lg"></i></a></li>
                <li><a href="http://twitter.com/shawncoots"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="http://shawncoots.tumblr.com/"><i class="fa fa-tumblr fa-lg"></i></a></li>
            </ul>
        </div><!-- .container -->
    </div><!-- #colophon -->
  </div><!-- #page -->
</div> <!-- .body-wrap -->
