<div class="body-wrap">
    <div id="page" class="site">
        <header id="masthead">
            <div class="container">
                <nav class="menu-nav">
                    <a class="menu-button" href="#"><i class="fa fa-bars"></i></a>
                </nav>
                <div class="site-branding">
                    <h1 class="site-title">
                        <a href="/" title="Shawn Coots" rel="home"><span>From the Desk of</span> Shawn Coots</a>
                    </h1>
                    <p class="site-description">Writer <span class="amp">&amp;</span> Designer</p>
                </div><!-- .site-branding -->
            </div><!-- .container -->
        </header><!-- #masthead .site-header -->

        <div class="nav-container">
            <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="nav-controls">
                <a class="menu-button menu-close" href="#"><i class="fa fa-times"></i></a>
            </div>
            {% for page in site.pages %}
              {% if page.title %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              {% endif %}
            {% endfor %}
            </nav><!-- #site-navigation -->
        </div><!-- .nav-container -->
