---
layout: default
---
<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <article>
          <header class="entry-header">
              <h1 class="entry-title">{{ page.title }}</h1>
          </header><!-- .entry-header -->

          {% if post.thumbnail %}
            <figure class="center-img"><img src="{{post.thumbnail}}" /></figure>
          {% endif %}

          <div class="entry-content">
              {{ content }}
          </div><!-- .entry-content -->
      </article>
    </main>
</div><!-- #primary -->
